<%= link_to "戻る","/"%>
<div class="timeline">
    <div class="card">
        <div class="message">
            <h3><%= @tweets.message %></h3>
            <%= link_to "編集" , "/tweets/#{@tweets.id}" %>
            <%= link_to "削除" , "/tweets/#{@tweets.id}" , data: {turbo_method: :delete} %>
            <div class="times">
                <%if ((@live_time-@tweets.tdate) /60).floor< 60%>
                    <h3><%= ((@live_time-@tweets.tdate) /60).floor %>分前</h3>
                <%elsif ((@live_time-@tweets.tdate) /60).floor< 14400 %>
                    <h3><%= ((@live_time-@tweets.tdate) /3600).floor %>時間前</h3>
                <%else%>
                    <h3><%= ((@live_time-@tweets.tdate) /14400).floor %>日前</h3>
                <%end%>
            </div>
        </div>
    </div>
</div>

<style>
    .card{
        display:flex;
        padding:7px 10px 7px 10px;
        background-color:white;
    }
    .message{
        border:solid 1px gray;
        width:350px;
        padding:10px;
        padding-left:15px;
        border-radius:10px;
        margin-top:20px;
    }
    .times{
        text-align: right;
        padding-right: 10px;
        font-size: 12px;
        color: gray;
    }
    .timeline{
        display:grid;
        justify-content:center;
    }
    .tweet {
        position: absolute;
        text-align: center;
        width: 150px;
        background-color: rgb(59 196 235);
        filter: brightness(95%);
        padding: 15px;
        font-weight: 950;
        font-size: 23px;
        letter-spacing: 8px;
        border-radius: 35px;
        left: 50px;
    }
    a{text-decoration: none;}
    .tweet a {
        color:white;
    }
    
</style>